// Primary Color
$primary-color: #418c3d;  // Main color for the website
$primary-color-hover: #296526;  // Main hover color for the website
$primary-p: #ff6584;
$primary-perp: #3d406c;
// Secondary Colors
$secondary-color: #3f3d56;  // Yellow for accents or buttons
$accent-color: #3c3959;     // Lighter accent color for hover effects

// Neutral Colors
$white: #ffffff;           // For background or text color
$black: #000000;           // For text color
$light-gray: #f4f4f4;      // For light backgrounds or borders
$dark-gray: #333333;       // For dark text or elements

// Background Colors
$background-light: #f9f9f9; // Light background color for sections
$background-dark: #2c2c2c;  // Dark background for footer or navbar

// Borders
$border-light: #d1d1d1;    // Light border color for input fields, cards
$border-dark: #b2b2b2;     // Darker border for hover effects

// Text Colors
$text-primary: #333333;    // Default text color
$text-secondary: #555555;  // Secondary text color
$text-light: #888888;      // Light text color for placeholders
